<!--<header>
    <h1><a href='{{ site.url }}/'>{{ site.name }}</a></h1>
</header>
<a href='{{ site.url }}/'> Home</a> | <a href='{{ site.url }}/about/'>About </a> | <a href='{{ site.url }}/contact/'> Contacts</a> | <a href='{{ site.url }}/archive/'> Archive</a> 
<hr>-->
<div id="wrapper">
    <div id="header">
        <div id="logo">
        </div>
    </div>
    <div id="primary_links">
        <menu>
            <ul id="horizontal-l">
                <li><a href="index.html">Home</a></li>
                <li><a href="../about/index.html">About</a></li>
                <li><a href="../resume/index.html">Resume</a></li>
                <li><a href="../Projects/index.html">Projects</a></li>
                <li><a href="../contact/index.html">Contact</a></li>
            </ul>
        </menu>
    </div>
    <div id="masthead">
    </div>
</div>